In [2]:
import pandas as pd
import numpy as np

In [3]:
cities = pd.read_csv('data/cities.csv')

In [4]:
cities

,id,name,coords,start_year,url_name,country,country_state
0,5,Aberdeen,POINT(-2.15 57.15),2017.0,aberdeen,Scotland,NaN
1,6,Adelaide,POINT(138.6 -34.91666667),2017.0,adelaide,Australia,NaN
2,7,Algiers,POINT(3 36.83333333),2017.0,algiers,Algeria,NaN
3,9,Ankara,POINT(32.91666667 39.91666667),2017.0,ankara,Turkey,NaN
4,16,Belém,POINT(-48.48333333 -1.466666667),2017.0,belem,Brazil,NaN
...,...,...,...,...,...,...,...
329,265,Nantes,POINT(-1.553889 47.217222),1877.0,nantes,France,NaN
330,110,Stockholm,POINT(18.05 59.28333333),1919.0,stockholm,Sweden,NaN
331,266,Rennes,POINT(-1.680833 48.114167),1897.0,rennes,France,NaN
332,15,Beijing,POINT(116.4166667 39.91666667),1965.0,beijing,China,NaN
333,69,London,POINT(-0.08333333333 51.53333333),1833.0,london,England,NaN

In [5]:
lines = pd.read_csv('data/lines.csv')

In [6]:
lines = lines.rename(columns={'name': 'line_name'})

In [7]:
lst = ['data/station_lines.csv', 'data/stations.csv', 'data/systems.csv', 'data/track_lines.csv', 'data/tracks.csv']
station_lines = pd.read_csv(lst[0])
stations = pd.read_csv(lst[1])
systems = pd.read_csv(lst[2])
track_lines = pd.read_csv(lst[3])
tracks = pd.read_csv(lst[4])

In [8]:
tracks

,id,geometry,buildstart,opening,closure,length,city_id
0,1911,"LINESTRING(19.0817752 47.5005079,19.0817355 47...",0.0,0.0,999999.0,6719,29
1,2563,"LINESTRING(16.4151057 48.1907238,16.4156455 48...",0.0,0.0,999999.0,199,118
2,2557,"LINESTRING(16.4164437 48.1839655,16.4161534 48...",0.0,0.0,999999.0,925,118
3,2558,"LINESTRING(16.4164901 48.1839473,16.416198 48....",0.0,0.0,999999.0,881,118
4,2564,"LINESTRING(16.415259 48.1908074,16.4153634 48....",0.0,0.0,999999.0,213,118
...,...,...,...,...,...,...,...
9266,9732,"LINESTRING(-3.838067 56.0044551,-3.8385588 56....",0.0,0.0,999999.0,383,48
9267,9734,"LINESTRING(-3.8549229 55.9960854,-3.8544735 55...",0.0,0.0,999999.0,28,48
9268,9735,"LINESTRING(-3.8597111 55.9955538,-3.8572319 55...",0.0,0.0,999999.0,305,48
9269,9736,"LINESTRING(-3.8544735 55.9961285,-3.8529015 55...",0.0,0.0,999999.0,828,48
9270,9733,"LINESTRING(-3.8599176 55.9955291,-3.8597111 55...",0.0,0.0,999999.0,13,48

In [9]:
lines_drop = lines.copy()
lines_drop = lines_drop.drop(columns=['url_name', 'color', 'transport_mode_id'])

In [10]:
lines_drop

        id  city_id                 line_name  system_id
0       43        4                   Línea 2        267
1       75       34  Línea 3 Metro de Caracas        119
2      107      126                   Línea 1        249
3      604       74                La navette        346
4       61       66        Línea 1 (Tramo 1A)        250
...    ...      ...                       ...        ...
1338  1466      124                 Ramaditas        493
1339  1467      124                   Polanco        493
1340  1468      124                  Delicias        493
1341  1469      124                  Perdices        493
1342  1470      124                 Las Cañas        493

[1343 rows x 4 columns]

In [11]:
cities_drop = cities.copy()
cities_drop = cities_drop.drop(columns='url_name')
cities_usa = cities_drop[cities_drop['country'] == "United States"]

In [12]:
cities_id = cities_usa.rename(columns={'id':'city_id'})

In [13]:
cities_id

,city_id,name,coords,start_year,country,country_state
14,147,Chicago,POINT(-87.61666667 41.83333333),1892.0,United States,Ill.
163,155,Detroit,POINT(-83.05 42.33333333),2017.0,United States,Mich.
164,170,Helena,POINT(-112.0333333 46.58333333),2017.0,United States,Mont.
165,214,Pierre,POINT(-100.35 44.36666667),2017.0,United States,S.D.
180,138,Boise,POINT(-116.2166667 43.6),2017.0,United States,Idaho
...,...,...,...,...,...,...
300,248,Tulsa,POINT(-95.98333333 36.15),2017.0,United States,Okla.
303,251,Virginia Beach,POINT(-75.96666667 36.85),2017.0,United States,Va.
305,253,Wichita,POINT(-97.28333333 37.71666667),2017.0,United States,Kan.
306,254,Wilmington,POINT(-77.95 34.23333333),2017.0,United States,N.C.
328,252,Washington,POINT(-77.03333333 38.88333333),1969.0,United States,D.C.

In [14]:
cities_line = cities_id.join(lines_drop, on='city_id', how='outer', lsuffix='_cities', rsuffix='_lines')

In [15]:
cities_line

,city_id,city_id_cities,name,coords,start_year,country,country_state,id,city_id_lines,line_name,system_id
NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,43,4,Línea 2,267
NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,75,34,Línea 3 Metro de Caracas,119
NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,107,126,Línea 1,249
NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,604,74,La navette,346
NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,61,66,Línea 1 (Tramo 1A),250
...,...,...,...,...,...,...,...,...,...,...,...
NaN,1338,NaN,NaN,NaN,NaN,NaN,NaN,1466,124,Ramaditas,493
NaN,1339,NaN,NaN,NaN,NaN,NaN,NaN,1467,124,Polanco,493
NaN,1340,NaN,NaN,NaN,NaN,NaN,NaN,1468,124,Delicias,493
NaN,1341,NaN,NaN,NaN,NaN,NaN,NaN,1469,124,Perdices,493
NaN,1342,NaN,NaN,NaN,NaN,NaN,NaN,1470,124,Las Cañas,493

In [16]:
stations

,id,name,geometry,buildstart,opening,closure,city_id
0,7694,Keisei Tsudanuma,POINT(140.024812197129 35.6837744784723),1921.0,1921.0,999999.0,114
1,6003,Kossuth Lajos tér,POINT(19.0462376564033 47.5054880717671),0.0,0.0,999999.0,29
2,7732,Saint-Charles,POINT(5.3801556 43.3024646),1973.0,1977.0,999999.0,74
3,7695,Keisei Makuhari-Hongo,POINT(140.042146725175 35.6726021159981),1991.0,1991.0,999999.0,114
4,7726,Chartreux,POINT(5.4014815 43.309129),1973.0,1977.0,999999.0,74
...,...,...,...,...,...,...,...
15789,16554,Shinomiya,POINT(135.823937214498 34.9918683039252),1912.0,1912.0,999999.0,91
15790,16555,Keihan Yamashina,POINT(135.816689306704 34.992068923936),1912.0,1912.0,999999.0,91
15791,16556,Hino-oka,POINT(135.799931852138 34.9968986641574),1912.0,1912.0,1997.0,91
15792,16557,Kujoyama,POINT(135.792375683554 35.0018274164674),1936.0,1936.0,1997.0,91
15793,16558,Keage,POINT(135.789089795388 35.0092276439636),1912.0,1912.0,1997.0,91

In [17]:
stations_drop = stations.copy()
#stations_usa = stations_drop[stations_drop['country'] == "United States"]
#stations_drop['cities'] = stations_drop[[stations_drop['city_id']== 147]] = 'Chicago'
stations_drop = stations_drop.dropna(subset='buildstart')
stations_drop = stations_drop[stations_drop['buildstart'] == 0] = np.nan

TypeError: 'float' object is not subscriptable

In [ ]:
stations_drop

,id,name,geometry,buildstart,opening,closure,city_id
0,7694,Keisei Tsudanuma,POINT(140.024812197129 35.6837744784723),1921.0,1921.0,999999.0,114
1,6003,Kossuth Lajos tér,POINT(19.0462376564033 47.5054880717671),0.0,0.0,999999.0,29
2,7732,Saint-Charles,POINT(5.3801556 43.3024646),1973.0,1977.0,999999.0,74
3,7695,Keisei Makuhari-Hongo,POINT(140.042146725175 35.6726021159981),1991.0,1991.0,999999.0,114
4,7726,Chartreux,POINT(5.4014815 43.309129),1973.0,1977.0,999999.0,74
...,...,...,...,...,...,...,...
15789,16554,Shinomiya,POINT(135.823937214498 34.9918683039252),1912.0,1912.0,999999.0,91
15790,16555,Keihan Yamashina,POINT(135.816689306704 34.992068923936),1912.0,1912.0,999999.0,91
15791,16556,Hino-oka,POINT(135.799931852138 34.9968986641574),1912.0,1912.0,1997.0,91
15792,16557,Kujoyama,POINT(135.792375683554 35.0018274164674),1936.0,1936.0,1997.0,91
15793,16558,Keage,POINT(135.789089795388 35.0092276439636),1912.0,1912.0,1997.0,91